{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/start.js' %}"></script> 
    <title>Log in account</title>

</head>
<body>
    <div class="intro-text" id="introText">TG CREATOR</div>
    <div class="login-container{% if form.non_field_errors %} error{% endif %}" id="loginForm">
        <h2>Log in account</h2>

        {% if form.non_field_errors %}
        <div class="error-message">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.username }}
            </div>
            <div>
                {{ form.password }}
            </div>
            <div>
                {{ form.remember_me }} {{ form.remember_me.label }}
            </div>
            <button type="submit">
                <img src="{% static 'svg/login_black.svg' %}" alt="login">
                Login
            </button>

            <div class="container_reg">
                <div class="line"></div>
                <div class="text">OR CONTINUE WITH</div>
                <div class="line"></div>
            </div>

            <div class="container_no-acc">
                <a href="{% url 'register' %}" class="button_no-acc" role="button">
                    <img src="{% static 'svg/reg_white.svg' %}" alt="reg">
                    Registration
                </a>
            </div>
        </form>
    </div>
    
</body>
</html>