<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleprojects.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Заголовок страницы</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="links">
                <ul>
                    <li><a href="#">projects</a></li>
                    <li><a href="#">profile</a></li>
                    
                    
                        
                    <li><a method="post" id="logout-form" href="{% url 'logout' %} "type="submit" class="exit">exit</a></li>
                    {% csrf_token %}
                </ul>
            </div>
            <div class="logo">ADMIN PANEL</div>
        </div>
    </header>

    <form action="{% url 'logout' %}" method="post" id="logout-form">
        {% csrf_token %}
        
    </form>

    <div id="project-list">
        <button class="buttonfoot" id="add-project-button">+</button>
        <!-- Здесь будут динамически добавляться проекты -->
    </div>

    <!-- Форма для создания проекта, по умолчанию скрыта -->
    <div id="project-form" style="display: none;">
        
        <input type="text" id="project-name" name="name" placeholder="Введите имя проекта">

        
        <input type="text" id="tg-token" name="tg_token" placeholder="Введите TG токен">

        <button id="submit-project">Создать проект</button>
    </div>

    
    <!-- Подключение JavaScript файла -->
    <script src="{% static 'js/project.js' %}"></script>
</body>
</html>
