<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylecategory.css' %}">
    <title>{{ project.name }}</title>
    
    <script src="{% static 'js/category.js' %}"></script> <!-- Подключите ваш JavaScript -->
</head>
<body>
    <h1>Информация о проекте: {{ project.name }}</h1>
    <div id="project-info" data-project-id="{{ project.id }}"></div> <!-- Скрытое поле с projectId -->

    <p><strong>Имя проекта:</strong> {{ project.name }}</p>
    
    <!-- Форма для добавления категории -->
    <form id="add-category-form" action="{% url 'add_category' project.id %}" method="post">
        {% csrf_token %}
        <label for="button_name">Имя категории:</label>
        <input type="text" id="button_name" name="button_name" required>
        
        <label for="parent">Родительская категория:</label>
        <select id="parent" name="parent">
            <option value="">Нет</option>  <!-- Значение по умолчанию -->
            {% for category in project.categories.all %}
                <option value="{{ category.id }}">{{ category.button_name }}</option>
            {% endfor %}
        </select>

        <label for="message">Сообщение категории:</label>
        <input type="text" id="message" name="message" required>

        <button type="submit">Добавить категорию</button>
    </form>
    
    <!-- Секция для отображения списка категорий -->
    <h2>Список категорий</h2>
    <ul id="category-list">
        {% for category in project.categories.all %}
            {% if not category.parent %}
                <li id="category-{{ category.id }}">
                    <span class="toggle-children" style="cursor: pointer;">▶</span>
                    <a href="#" class="category-link" data-category-id="{{ category.id }}">{{ category.button_name }}</a>
                    <ul id="children-{{ category.id }}" class="category-children">
                        {% for subcategory in category.children.all %}
                            <li id="category-{{ subcategory.id }}">
                                <a href="#" class="category-link" data-category-id="{{ subcategory.id }}">{{ subcategory.button_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Кнопка для удаления проекта -->
    <form action="{% url 'delete_project' project.id %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить проект?')">Удалить проект</button>
    </form>
    
    <!-- Кнопка для возврата на главную -->
    <a href="/projects/">Назад к списку проектов</a>
</body>
</html>
