{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylereg.css">
    <script src="{% static 'js/start.js' %}"></script> 
    <title>Create an account</title>
    
</head>
<body>
    <div class="intro-text" id="introText">TG CREATOR</div>
    <!--{{ form.email }}-->
    <div class="register-container" id="registerForm">
        <h2>Create an account</h2>
    
        <form method="post">
            {% csrf_token %}
    
            <!-- Поле для ввода имени пользователя -->
            <div>
                {{ form.username }} <!-- Само поле без метки -->
            </div>
    
            <!-- Поле для ввода email -->
            <div>
                {{ form.email }} <!-- Само поле без метки -->
            </div>
    
            <!-- Поле для ввода пароля -->
            <div>
                {{ form.password1 }} <!-- Само поле без метки -->
            </div>
    
            <!-- Поле для подтверждения пароля -->
            <div>
                {{ form.password2 }} <!-- Само поле без метки -->
            </div>
    
            <!-- Отображение всех ошибок формы после всех полей ввода -->
            {% if form.errors %}
            <div class="error-message">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
    
            <button type="submit"> 
                <img src="{% static 'svg/reg_black.svg' %}" alt="reg">
            Register</button>
            <div class="container_reg">
                <div class="line"></div>
                <div class="text">OR CONTINUE WITH</div>
                <div class="line"></div>
            </div>
            <a href="{% url 'login' %}" class="button_no-acc" role="button">
                <img src="{% static 'svg/login_white.svg' %}" alt="login">
                Login
            </a>
        </form>
    </div>
    
    
    
</body>
</html>
