{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stylereg.css">
    <title>Регистрация</title>
    
</head>
<body>
    
    <div class="register-container">
        <h2>Регистрация</h2>
        
        {% if form.non_field_errors %}
        <div class="error-message">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
    
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
            {% for field in form %}
                {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endfor %}
    
            <button type="submit">Зарегистрироваться</button>
            <p class="no-acc">Уже есть аккаунт? <br>
                <a href="{% url 'login' %}">Войти</a></p>
        </form>
    </div>
</body>
</html>
