.category-link {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.category-actions {
    margin-top: 5px;
}

.category-actions button {
    margin-right: 10px;
}
.hidden {
    display: none;
}
#category-list,
.category-children {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;            /* Убираем отступы */
    margin: 0;             /* Убираем внешние отступы */
}

.category-children {
    padding-left: 20px; /* Добавляем отступ слева для дочерних категорий */
}
