.category-link {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.category-actions {
    margin-top: 5px;
}

.category-actions button {
    margin-right: 10px;
}
.hidden {
    display: none;
}